html{
    -webkit-scrollbar:smooth;
    box-sizing: border-box;
  }
*{
    margin: 0%;
    padding:0%;
    font-family: 'jost','sans-serif';
    transition: 0.5s;
    overflow:hidden;
    user-select: none;
    box-sizing: border-box;
}
*::selection{
    background:var(--yellow);
    color:#333;
}

header{
    width:100%;
    height:100vh;
    background-color: #f9f7fe;
}
.field{
   background-image:linear-gradient(to top,#ff9a9e 0%,#fad0c4 100%);
}
nav{
    width:1200px;
    height:65px;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav .doc1{
    color:#7d32d8;
    font-size: 30px;
    cursor:pointer;
    margin-left: 5px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li{
    margin-right:30px;
    font-size: 19px;
    cursor:pointer;
    color:#686485;
    font-weight:600;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    color:#f2f2f3;
    height:30px;
}
nav ul li:hover{
    color:#f2f2f3;
    height:30px;
}
.active{
    color:#8343e7;
}
.container{
    width:1200px;
    height:100%;
    margin:auto;
    display:flex;
}
.container h4{
    padding-top:100px;
    color:#686485;
    font-size: 23px;
}
.content h1{
    font-size:60px;
    color:#3f3a64;
    font-weight:400;
}
.container span{
    font-weight:700;
}
.container p{
    color:#6b6969;
    line-height:30px;
    padding-top:20px;
    font-size:22px;
}
.btn{
    width:120px;
    height: 40px;
    border: none;
    background: #8e43e7;
    color:#fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 25px;
}
.btn a{
    text-decoration: none;
    color:#fff;
}
.btn a:hover{
    color:#8e43e7;
}
.btn2{
    width:120px;
    height: 40px;
    border: 1px solid #8e43e7;
    background: transparent;
    color:#8e43e7;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 25px;

}
.btn:hover{
    background: transparent;
    color: #fff;
    height: 50px;
    border: 1px solid #8e43e7;
    color:#8e43e7;
}
.btn2:hover{
    background: #8e43e7;
    color: #fff;
    height: 50px;
}
.meechain{
    background-color: #f7dcdd;
    height:100%;
}
.image{
    width:550px;
    margin-left:105px;
    margin-top:120px;
}
.area{
    margin-left:110px;
    margin-top:45px;
    border-radius: 30px;
}
